<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Casa de Acolhimento Bom Jesus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><p class="paragrafo">Bem vindo! O que você gostaria de fazer?</p></ion-item>
  
  <ion-row class = "ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button href="/funcionario-grupo10" color="primary">
        Gerenciar <br> Funcionários</ion-button>
    </ion-col>

    <ion-col size="12" class="ion-text-center">
      <ion-button href="/crianca-grupo10" color="primary">
        Gerenciar <br> Crianças</ion-button>
    </ion-col>

    <ion-col size="12" class="ion-text-center">
      <ion-button href="/entrada-saida-grupo10" color="primary">
        Gerenciar <br>Entrada e Saída</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
