<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="refeicao-grupo10"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Refeição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="submitForm()">

    <ion-item>
      <ion-label position="floating">Descricao</ion-label>
      <ion-input type="text" [(ngModel)]="refeicao.descricao" name="descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data da Refeição</ion-label><br>
      <ion-input class="data" type="date" value="" doneText="Confirmar" cancelText="Cancelar" [(ngModel)]="refeicao.data" name="data" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Funcionário Responsável</ion-label>
      <ion-input type="text" [(ngModel)]="refeicao.funcionario" name="funcionario"></ion-input>
    </ion-item>

    <br>
    <ion-button shape="round" type="submit" expand="block" size="large" color="primary">Salvar</ion-button>

  </form> 

</ion-content>
